#about {
    padding-left: 15%;
    padding-right: 25%;
    padding-bottom: 8%;
    min-height: 60%;
    font-family: 'Roboto', sans-serif ;
    font-display: fallback;
  }
.about-cont{
  display: flex;
  flex-direction: row;

}
.aboutTitle{
    font-size: 48px;
    font-weight: bold;
    color: gray;
  }
.Description1{
    max-width: 600px;
    font-size: 20px;
    font-weight: 600;
    text-align: justify;
    margin: 0;  
}
.Description1 ul {
    padding-top: 5px;
    list-style-type:none;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 10px));
  } 
.Description1 li {
    position: relative;
    padding-left: 20px;
    font-size: 16px;
    color: gray;
    
  }
.Description1 a,
.Description1  b {
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  color: gray;
}
.about-img{
  padding-left: 40px;
}
.about-img img{
  background: 50% 50% no-repeat;
  height: 400px;
  width: 300px;
  border-radius: 10px;
  margin-left: 30px;
  box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
  border: none;
}
